

#canvas{
    min-height: 400px;
    min-width: 500px;
    background-color: lightpink;
}

.button{
    padding: 40px 70px;
    min-width: 600px;
    background-color: lightskyblue;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    cursor: pointer;
}