 #Bill_total {
  background-color: rgb(120, 189, 245);
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  
  height: 100%;
  
 }

#form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

} 
 #form div  label{
  margin-left: 10px;
}
#form input {
  text-align: center;
  width: 80%;
}

.please_meines_buttons{
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Bill_total #minus,#plus{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  background-color:  rgb(120, 189, 245);
 }
 #Bill_total #minus:hover{
  background-color:  rgb(52, 127, 188);
  color: white;
 }
 #Bill_total #plus:hover{
  background-color:  rgb(52, 127, 188);
  color: white;
}
 #Bill_total #plus:active{
  background-color:  red;
  color: white;
 }
 #Bill_total #minus:active{
  background-color:  red;
  color: white;
 }

.ris_submit_buttons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
