

#Stop_Watch_Bill_total_parent{
  width: 100%;
  padding: 20px;
}
#Bill_total input{
  width: 100%;
}

#Bill_total {
  min-width: 350px;
  max-width: 450px;
}

#form {
  background-color: rgb(166, 237, 248);
  height: auto;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}
#Stop_Watch{
  min-width: 350px;
  max-width: 450px;
  min-height: 400px;
  background-color:rgb(218, 215, 215);
  border: 2px solid black;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content:space-around;
}

/* #Stop_Watch_col_2 div {
  border: 2px solid red;
} */




