

#Stop_Watch_col_2{
  margin: 5px;
  background-color: rgb(243, 225, 243);
  overflow: hidden;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content:space-around;
}
#Stop_Watch_col_2 button {
  padding: 2px;
}
#lap-text p{
  font-size: 15px;
}
#lap-text {
  min-height: 100px;
  margin-top: 10px;
}
