/* body{
  background-color: aqua;
}
.wether-body{
  font-size: 20px;
  display: flex;
  justify-content: center;
 align-items: center;
}
#wether-parent{
  border:5px solid lightblue;
  text-align: center;
  width: 400px;
  padding: 20px;
}
.wether-h1{
  text-align: center;
  color: rgb(213, 184, 56);
}

#wether-Button-search{
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 15px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}
.wether-input{
  width:350px;
  padding: 10px ;
}
.wether-div-input{
  overflow: hidden;
}
#wether-City{
  background-color: rgb(237, 234, 234);
  height:  60px;
  margin-top: 0px;
  border-bottom:0.5px solid black ;
  text-align: center;
  padding-top: 10px;
}
.wether-div-buttons{
  display: flex;
  justify-content: space-between;
}
.wether-div-buttons button{
  padding: 5px 20px ;
  border: none;
  border-radius: 50px;
  background-color: rgb(81, 147, 239);
  font-size: 25px;
  font-weight: bold;
}
.wether-div-buttons button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px black;
} */

#form{
  display: flex;
  justify-content: center;
}

#accordionExample span {
  font-weight: bold;
  margin-left: 15px;
 
}
#clearItem{
  max-width: 150px ;

}
#parent_accordionExample{
 align-items: center;
}
