@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    font-family: 'Inter', sans-serif;
    min-width: 350px;
}

.dark {
    color-scheme: dark;
}

html {

    scroll-behavior: smooth;
}

/* *{
    outline: 1px solid red;
} */
