@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    min-width: 320px;
}

.dark {
    color-scheme: dark;
}

html {
    scroll-behavior: smooth;
}
