#shoppin-parent-div  {
  border: 2px solid rgb(93, 139, 231);
  padding: 20px;
  overflow: hidden;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#shoppin-parent-div form input{
  font-size: 25px;
  padding: 15px 0px 10px 15px;
  border-radius: 8px;
  border-width: 0.5px;
}
#shopping-list-div input{
  width: 30px;
  height: 30px;
  right: 30px;
  cursor: pointer;
  margin-right: 10px;
 }
 #shopping-list-div div{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
#createElement-div{
  overflow: hidden;
}
 #shopping-list-div button{
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  background-color: white;
}
#shopping-list-div button:hover{
  box-shadow:0px 0px 10px 0px ;
}

#shopping-footer-div {
  font-size: 40px;
  font-weight: bold;
  display: block;
  text-align: start;
  border:none;
  margin-left: 55px;
}
#shopping-footer-div span{
 margin-right: 10px;
}
#shopping-footer-div button{
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  border: none;
}
#shopping-footer-div button:hover{
  box-shadow: 0px 0px 10px 0px ;
}

