   
    #parent{
        display: flex;
        justify-content:space-around;
    }
    img{
        height:160px;
    }
    h2{
        font-weight: bold;
        font-family: Arial;
    }
    #div-hero-1,
    #div-hero-2{
        text-align: center;
        min-width: 100px;
    }
    .Attack-Hero1,
    .Attack-Hero2{
        width: 50px;
        background-color: rgb(255, 215, 83);
    }
    .Help-Hero1,
    .Help-Hero2{
       width: 50px;
       background-color: rgb(155, 203, 249);
    }
    
    .div-button-Reset{
        text-align: center;
    }
    
    .button-Reset{
        padding: 10px 15px;
        border-radius: 15px;
        margin: 5px;
        background-color: orange;
        border: 0.5px;
        color: white;
        font-family: arial;
        font-weight: bold;
 
    }
    .button-play{
        padding: 10px 15px;
        border-radius: 15px;
        margin: 5px;
        background-color: rgb(51, 208, 69);
        border: 0.5px;
        color: white;
        font-family: arial;
        font-weight: bold;
    }
    .div-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }